**Se importan las librerias**

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Lectura y ectraccion de datos del archvio**

In [28]:
#cargar desde un archivo .xlsx sin indice 
df = pd.read_excel('Mexico city.xlsx')
df

,last_scraped,source,description,neighborhood_overview,host_name,host_since,host_response_time,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2024-09-25,city scrape,"Dentro de Villa un estudio de arte con futon, ...","Santa Fe Mall, Interloma Park and the Lion Des...",Dici,2010-06-28,a few days or more,NaN,f,NaN,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
1,2024-09-26,previous scrape,A new concept of hosting in mexico through a b...,NaN,Fernando,2010-08-09,within an hour,0.93,t,Condesa,...,4.87,4.78,4.98,4.48,f,8,4,1,0,0.41
2,2024-09-26,city scrape,"Comfortably furnished, sunny, 2 bedroom apt., ...",NaN,Nicholas,2011-01-04,within an hour,0.57,t,HipÃ³dromo,...,4.94,4.92,4.98,4.91,f,2,2,0,0,0.31
3,2024-09-25,city scrape,COYOACAN designer studio quiet & safe! well eq...,Coyoacan is a beautiful neighborhood famous fo...,Trisha,2010-08-24,within a few hours,1.00,t,CoyoacÃ¡n,...,4.96,4.98,4.96,4.92,f,3,2,1,0,0.83
4,2024-09-25,city scrape,Is the best ever place triple L <br />Location...,"Is located in the best area of Mexico City, Po...",Andrea,2011-04-27,within an hour,1.00,t,Polanco,...,5.00,4.73,4.91,4.82,f,3,3,0,0,0.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26577,2024-09-25,city scrape,Experience Mexico City in this delightful retr...,"Welcome to Lomas de Bezares, a neighborhood kn...",HostPal,2016-04-16,within an hour,1.00,t,NaN,...,NaN,NaN,NaN,NaN,t,37,14,23,0,NaN
26578,2024-09-25,city scrape,This spacious room features a plush king-size ...,NaN,Luis Angel,2024-08-13,within an hour,1.00,f,Polanco,...,NaN,NaN,NaN,NaN,t,16,8,8,0,NaN
26579,2024-09-25,city scrape,Discover the essence of luxury in our king-siz...,NaN,Luis Angel,2024-08-13,within an hour,1.00,f,Polanco,...,NaN,NaN,NaN,NaN,t,16,8,8,0,NaN
26580,2024-09-25,city scrape,Welcome to your refuge in the heart of Polanco...,NaN,Luis Angel,2024-08-13,within an hour,1.00,f,Polanco,...,NaN,NaN,NaN,NaN,t,16,8,8,0,NaN
26581,2024-09-25,city scrape,"Known as New Polanco, the Granada colony has p...",NaN,Salvador,2013-05-22,within an hour,1.00,t,Roma Norte,...,NaN,NaN,NaN,NaN,t,4,4,0,0,NaN

**Identificacion de valores nulos**

In [29]:
data1= pd.read_excel('Mexico city.xlsx')

In [43]:
#identificar valores nulos por columna 
valores_nulos= data1.isnull().sum()
valores_nulos

last_scraped                                        0
source                                              0
description                                       934
neighborhood_overview                           10895
host_name                                           0
host_since                                          0
host_response_time                               3622
host_acceptance_rate                             2869
host_is_superhost                                1509
host_neighbourhood                              12915
host_total_listings_count                           0
host_verifications                                  0
host_has_profile_pic                                0
host_identity_verified                              0
neighbourhood_cleansed                              0
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms_text                                     26
bedrooms                                          866
beds                                             2953
amenities                                           0
price                                            2927
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              0
maximum_minimum_nights                              0
minimum_maximum_nights                              0
maximum_maximum_nights                              0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
has_availability                                 1008
calendar_last_scraped                               0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
review_scores_rating                             3656
review_scores_cleanliness                        3657
review_scores_checkin                            3657
review_scores_communication                      3657
review_scores_location                           3657
review_scores_value                              3657
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                3656
dtype: int64

In [31]:
#Realizamos una copia del dataframe
data2=data1.copy()

In [32]:
#Sustitucion de valores nulos por un valor de texto dado que no proporcionan una descripcion, llenarlo con una descripcion diciendo que no esta disponible sirve para no dejar los valores nulos.
data2["description"]=data2["description"].fillna("No description available")

In [33]:
#Sustitucion de valores nulos por un valor de texto, al igual que la columna anterior, las usamos para dar entender que la informacion no fue proporciona y va acorde con el tipo de valor que tiene la columna.
data2["neighborhood_overview"]=data2["neighborhood_overview"].fillna("No overview available")

In [34]:
#Sustitucion de valores nulos por un valor de texto, al igual que la columna anterior optamos por sustituir el valor nulo por desconocido, en las columnashost_response_time" y "host_neighbourhood.
data2[["host_response_time", "host_neighbourhood"]]=data2[["host_response_time", "host_neighbourhood"]].fillna("Unknown")

In [35]:
#Sustituir valores nulos con promedio o media, se eligio este metodo para estas columnas porque son numéricas, y la media es adecuada para representar valores faltantes sin distorsionar el análisis.
data2[["host_acceptance_rate", "review_scores_rating", "review_scores_cleanliness", "review_scores_checkin", "review_scores_communication", "review_scores_location", "review_scores_value"]]=data2[["host_acceptance_rate", "review_scores_rating", "review_scores_cleanliness", "review_scores_checkin", "review_scores_communication", "review_scores_location", "review_scores_value"]].fillna(round(data1[["host_acceptance_rate", "review_scores_rating", "review_scores_cleanliness", "review_scores_checkin", "review_scores_communication", "review_scores_location", "review_scores_value"]].mean(),1))

In [36]:
#Sustitucion de valores nulos por un valor en concreto, al igual que el anterior este lo elegimos dado que si no posee un valor es razonable suponer no tiene el dato y el 0 sirve como indicador de datos desconocidos.
data2[["host_is_superhost", "has_availability", "reviews_per_month"]]=data2[["host_is_superhost", "has_availability", "reviews_per_month"]].fillna(0)

In [37]:
#Sustitucion de valores nulos por valores no nulos hacia adelante, ocupamos este metodo ya que visualizando los valores, nos dimos cuenta que el valor adelante de el suele ser el mismo o similar al de la columna y queda perfecto como sustitucion de los valores nulos 
data2["bathrooms_text"]=data2["bathrooms_text"].fillna(method="ffill")

C:\Users\leirb\AppData\Local\Temp\ipykernel_21560\361353304.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["bathrooms_text"]=data2["bathrooms_text"].fillna(method="ffill")

In [38]:
#Sustitucion por mediana, se opto por este metodo dado que la mediana es más robusta frente a valores atípicos, especialmente útil en datos como precios y cantidades.
data2[["bedrooms", "beds", "price"]]=data2[["bedrooms", "beds", "price"]].fillna(round(data1[["bedrooms", "beds", "price"]].median(),1))

**Se revisa que ya no existan valores nulos**

In [39]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

last_scraped                                    0
source                                          0
description                                     0
neighborhood_overview                           0
host_name                                       0
host_since                                      0
host_response_time                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_neighbourhood                              0
host_total_listings_count                       0
host_verifications                              0
host_has_profile_pic                            0
host_identity_verified                          0
neighbourhood_cleansed                          0
latitude                                        0
longitude                                       0
property_type                                   0
room_type                                       0
accommodates                                    0
bathrooms_text                                  0
bedrooms                                        0
beds                                            0
amenities                                       0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
has_availability                                0
calendar_last_scraped                           0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
instant_bookable                                0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [41]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum().sum()
valores_nulos

np.int64(0)

**Se crea el archivo .csv si existencia de valores nulos**

In [42]:
#Convertir DataFrame a csv
data2.to_csv('Datos_de_Mexicocity_sin_nulos.csv')